<section>
    <div class="container mt-5 pl-5">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="m-4">
                    <h1>Admin</h1>
                </div>
                <div class="m-4 border p-3">
                    <h4 class="m-2">Add tutor</h4>
                    <a href="/admin/add-tutor" class="btn btn-primary">Add</a>
                </div>
                <div class="m-4 border p-3">
                    <h4 class="m-2">Add Student</h4>
                    <a href="/admin/add-student" class="btn btn-primary">Add</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>