<header class="header">
     <nav>
    <div class="logo">
      Classroom</div>
    <label for="btn" class="icon">
      <span class="fa fa-bars"></span>
    </label>
    <input type="checkbox" id="btn">
    <ul>
      <li><a href="/tutor/home">Home</a></li>
      <li>
        <label for="btn-1" class="show">Students +</label>
        <a href="#">Students</a>
        <input type="checkbox" id="btn-1">
        <ul>
          <li><a href="/tutor/students">Students list</a></li>
          <li><a href="/tutor/attendance">Attendance</a></li>
          
        </ul>
      </li>
      <li>
        <label for="btn-2" class="show">Publish +</label>
        <a href="#">Publish</a>
        <input type="checkbox" id="btn-2">
        <ul>
          <li><a href="/tutor/assignments">Assignments</a></li>
          <li><a href="/tutor/add-notes">Notes</a></li>
          <li><a href="/tutor/today-task">Toda's Task</a></li>
        </ul>
      </li>
      <li>
        <label for="btn-3" class="show">Posts +</label>
        <a href="#">Posts</a>
        <input type="checkbox" id="btn-3">
        <ul>
          <li><a href="#">Announcement</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Photos</a></li>
        </ul>
      </li>
      <li>
        <label for="btn-4" class="show">{{tutorData.tutor.name}} +</label>
        <a href="#">{{tutorData.tutor.name}}</a>
        <input type="checkbox" id="btn-4">
        <ul>
      <li><a href="/tutor/profile">Profile</a></li>
          <li><a href="/tutor/logout" class="btn btn-danger ml-4 mb-2">Logout</a></li>
          
          
        </ul>
      </li>
    </ul>
  </nav>
</header>