.session1 {
  padding-top: 75px;
}

.arrow-position {
  position: fixed;
  top: 80px;
  left: 10px;
  z-index: 9;
}
@media (max-width: 767px) {
  .arrow-position {
    display: none;
  }
}

.fa-angle-double-left {
  color: rgba(37, 75, 146, 0.596);
  font-size: 25px;
}

.fa-angle-double-left:hover {
  color: rgb(136, 43, 223);
}

.wrapper {
  width: 100%;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;

  display: flex;

  @media screen and (max-width: 768px) {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
}

.profile-card {
  width: 100%;
  min-height: 460px;
  margin: auto;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(227, 224, 233));
  border-radius: 12px;
  max-width: 700px;
  position: relative;
}

.profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px #351d8d8f,
    0px 0px 0px 7px rgba(107, 74, 255, 0.5);
}

.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-card__cnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 0px;
  padding-bottom: 40px;
  transition: all 0.3s;
}
.profile-card_cnt {
  text-align: center;
  padding: 15px 20px;
  padding-bottom: 0px;
  padding-bottom: 40px;
  transition: all 0.3s;
}

.profile-card__name {
  font-weight: 700;
  font-size: 24px;
  color: #6944ff;
  margin-bottom: 15px;
}

.profile-card__txt {
  font-size: 18px;
  font-weight: 500;
  color: #324e63;
  margin-bottom: 15px;
}

.profile-card-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.profile-card-loc__icon {
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
}

.tutor-pro-img-input {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-200%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  left: 41px;
  z-index: 5;
  background-color: rgb(42, 96, 167);
  box-shadow: 0px 5px 50px 0px #110f13cc,
    0px 0px 0px 4px rgba(130, 184, 255, 0.5);
}

.fa-camera {
  color: rgb(255, 255, 255);
  font-size: 27px;
  margin-left: 10px;
  margin-top: 10px;
}
.save100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: rgb(245, 245, 245);
  background-color: rgb(24, 163, 94);
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  margin-right: 15px;
  transition: all 0.4s;
}

.save100-form-btn:hover {
  color: rgb(204, 248, 235);
  background-color: rgb(23, 150, 18);
}
.cancel100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: rgb(245, 245, 245);
  background-color: rgb(221, 32, 32);
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  transition: all 0.4s;
}
.cancel100-form-btn:hover {
  color: rgb(204, 248, 235);
  background-color: rgb(184, 28, 28);
}
.tutor-input {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgb(82, 78, 78);
  border: 2px solid rgba(180, 180, 180, 0.733);
  border-radius: 12px;
  line-height: 1.2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 45px;

  padding: 0 5px;
}

.error {
  font-size: 13px;
  color: red;
}

/* students list table */

.table {
  font-family: "lato", sans-serif;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.h2-table {
  font-size: 26px;

  text-align: center;
}

.responsive-table {
  display: block;
  margin-top: 10px;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.responsive-table .table-header {
  background-color: rgb(104, 73, 190);
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
  flex-basis: 10%;
  max-width: 25.667%;
}

.responsive-table .col-2 {
  flex-basis: 40%;
  max-width: 35.667%;
}

.responsive-table .col-3 {
  max-width: 8.667%;
  flex-basis: 25%;
}

.responsive-table .col-4 {
  flex-basis: 25%;
  max-width: 28.667%;
}

@media all and (max-width: 767px) {
  .h2-table {
    margin-bottom: 10px;
  }

  .responsive-table .table-header {
    display: none;
  }

  .responsive-table li {
    display: block;
  }

  .responsive-table .col {
    flex-basis: 100%;
  }

  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }

  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

.fa-trash {
  color: rgb(228, 76, 65);
  font-size: 27px;
  margin-left: 25px;
}

.fa-trash:hover {
  color: rgb(252, 47, 32);
  font-size: 29px;
}

.fa-edit {
  color: rgb(51, 125, 185);
  font-size: 27px;
}

.fa-edit:hover {
  color: rgb(20, 114, 255);
  font-size: 29px;
}

.fa-file-pdf-o {
  color: rgb(199, 18, 5);
  font-size: 40px;
  margin-left: 25px;
}

.fa-file-pdf-o:hover {
  color: rgb(255, 17, 0);
  font-size: 42px;
}

.fa-file-video-o{
  color: rgb(0, 140, 255);
  font-size: 40px;
  margin-left: 25px;
}
.fa-file-video-o:hover {
  color: rgb(5, 144, 199);
  font-size: 42px;
}


.add-sd {
  background-color: rgb(70, 115, 238);
  color: rgb(255, 255, 255);
}

.add-sd:hover {
  background-color: rgb(27, 0, 177);
  color: rgb(224, 244, 245);
}
.sd-name:hover {
  color: rgb(70, 115, 238);
  font-size: 16px;
}

/* home page dive */
.home-div {
    background-image:
        linear-gradient(to right, rgba(30, 60, 121, 0.295), rgba(138, 85, 238, 0.24));
    background-repeat: no-repeat,
        no-repeat,
        no-repeat;
    background-position: bottom right,
        left,
        right;
    width: 27rem;
    padding-bottom: 25px;
    float: left;
    color: rgb(15, 1, 1);
}
.task-div {
background-color: #cccccc73;
  width: 27rem;
  height: 100%;
  float: left;
  color: rgb(15, 1, 1);
}

/* table number */
.table-num{
  counter-reset: section;
}
#num::before{
  counter-increment: section;
  content:counter(section)
}

/* assignment table */

#upload[type="file"] {
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 20px;
  font-size: 17px;
  color: #b8b8b8;
}

.upload-button-wrap {
  position: relative;
}

.upload-button {
  display: inline-block;
  background-color: #1d6355;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 8px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.upload-button:hover {
  background-color: #00ab97;
}