<section>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/images/bg-01.jpg');">

            <div class="wrapper">
                <div class="profile-card js-profile-card">
                    <form id="tutorFormEdit" action="/tutor/add-student" method="POST" enctype="multipart/form-data">
                        <div>
                            <div class="profile-card__img">
                                <img src="" alt="Image"
                                    id="tutor-pro-img">
                            </div>

                            <div class="tutor-pro-img-input">
                                <button type="button" class="img-edit-icon" onclick="imgInput()">
                                    <i class="fas fa-camera" style=""></i>
                                </button>

                            </div>
                            <input type="file" name="image" id="tutor-img" onchange="viewImage(event)" accept="image/*" hidden>
                        </div>

                        <div class="profile-card__cnt js-profile-cnt">
                            <div class="profile-card__txt"> Name
                                <input class="tutor-input" type="text" value="" name="name">
                            </div>

                            <div class="profile-card__txt"> Class
                                <input class="tutor-input" type="text" value="{{tutorData.tutor.class}}" name="class">
                            </div>

                            <div class="profile-card__txt"> Roll No
                                <input class="tutor-input" type="number" value=""
                                    name="no">
                            </div>

                            <div class="profile-card__txt"> House Name
                                <input class="tutor-input" type="text" value="" name="house">
                            </div>
                            <div class="profile-card__txt"> Place
                                <input class="tutor-input" type="text" value="" name="place">
                            </div>

                            <div class="profile-card__txt"> Pin
                                <input class="tutor-input" type="text" value="" name="pin">
                            </div>
                            <div class="profile-card__txt"> MOb
                                <input class="tutor-input" type="text" value="" name="number">
                            </div>
                            <div class="profile-card__txt"> Email
                                <input class="tutor-input" type="email" value="" name="email">
                            </div>
                            <div class="profile-card__txt"> Password
                                <input class="tutor-input" type="text" value="{{null}}" name="password">
                            </div>

                            <div class="container-login100-form-btn">
                                <button type="submit" class="save100-form-btn" onclick="return confirm('Do you want to save this data?')">Svae</button>
                                <a href="/tutor/students" class="cancel100-form-btn">Cancel</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>
</section>

<script>
    const tutorImg = document.getElementById('tutor-img');
    function imgInput() {
        tutorImg.click()
    }
    function viewImage(event) {
        document.getElementById('tutor-pro-img').src = URL.createObjectURL(event.target.files[0])
    }



</script>