<section>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/images/bg-01.jpg');">
            <div class="arrow-position">
                <a href="/"><i class='fas fa-angle-double-left ' style='font-size:25px'></i></a>
            </div>
            <div class="wrapper">
                <div class="profile-card js-profile-card">
                    <div class="profile-card__img">
                        <img src="/images/tutor-icon.jpeg" alt="profile card">
                    </div>

                    <div class="profile-card__cnt js-profile-cnt">
                        <div class="profile-card__name">Muhammed Erdem</div>
                        <hr>
                        <div class="profile-card__txt"><strong>English</strong> Teacher</div>
                        <div class="profile-card__txt"><span style='font-size:14px'>Class : </span><strong>SCE</strong>
                        </div>
                        <hr>
                        <div class="profile-card__txt"><strong>Kalody</strong> House</div>
                        <div class="profile-card-loc">
                            <span class="profile-card-loc__icon">
                                <svg class="icon">
                                    <i style='font-size:24px' class='fas'>&#xf3c5;</i>
                                </svg>
                            </span>

                            <span class="profile-card-loc__txt" data-placeholder="&#xf191;">
                                Istanbul, Turkey
                            </span>
                        </div>
                        <div class="profile-card__txt"><span style='font-size:14px'>Pin: </span>658698</div>

                            <br>
                            <div class="profile-card__txt"><span style='font-size:14px'>Mob :
                                </span><strong>9656983933</strong></div>
                            <div class="profile-card__txt"><span style='font-size:14px'>Email :
                                </span><strong>sdsaf@gmail.com</strong></div>
                            <br>
                            <div class="container-login100-form-btn">
                                <a href="" class="edit100-form-btn">Edit</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dropDownSelect1"></div>
</section>