
<section class="session1">
    <div class="container ">
        <div class="arrow-position">
            <a href="/"><i class='fas fa-angle-double-left ' style='font-size:25px'></i></a>
        </div>
        <div>
            <a href=" " class="btn btn-primary">My Assignments</a>
        </div>
        <div style="row">
            <div class="upload-button-wrap input-group ">
                <form class="upload-button-wrap" action="" method="POST" enctype="multipart/form-data" style="padding-left: 30%; width:100%;">
                    <label for="">Topic</label>
                <input type="text" name="topic" style="display: block; height: 2.5rem;border: 3px solid;border-color: #1a015129;" placeholder="Topic"><br>
                <label class="upload-button" for="upload">File</label><br>
                <input name="doc" id="upload" type="file" onclick="viewDoc(event)">
                <input type="submit" class="save100-form-btn ml-5" value="save">
                </form>
            </div>
        </div>
        <hr>
        <br>
        <br>

        <div>
            <h2 class="h2-table">Assignments</h2>
        </div>

        <ul class="responsive-table table-num">
            <li class="table-header">
                <div class="col col-1">No</div>
                <div class="col col-2">Topic</div>
                <div class="col col-3">Document</div>
                <div class="col col-4"></div>
            </li>
            {{#each data}}
            <li class="table-row" id="num">
                <div class="col col-1" data-label="No">
                    <p class="sd-name" id=""></p>
                </div>
                <div class="col col-2" data-label="Name">
                    <a href="" class="sd-name">{{this.topic}}</a>
                </div>
                <div class="col col-3" data-label="" style="max-width: 30.667%;"><a href="/tutor/doc/{{this._id}}"><i class="fa fa-file-pdf-o"></i></a></div>
                <div class="col col-4" data-label="" style="max-width: 13.667%;"> </div>
            </li>
            {{/each}}
        </ul>
    </div>
</section>