<section class="session1">
    <div class="limiter">
        <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
            <div class="home-div col-10 col-md-5 m-4">
                <p class="text-center mt-3 font-weight-bold mb-4"
                    style="font-size: 1.5rem; text-decoration: underline; color: black;">Annoucents</p>
                {{#each data.announcement}}
                <a href="/anno/{{this._id}}">
                    <p style="font-size: 1rem; color: black;"><span class="fas fa-asterisk"> </span> {{this.topic}}</p>
                </a>
                {{/each}}
            </div>
            <div class="home-div col-10 col-md-5 m-4 ">
                <p class="text-center mt-3 font-weight-bold mb-4"
                    style="font-size: 1.5rem; text-decoration: underline; color: black;">Events</p>
                {{#each data.event}}
                <a href="/event/{{this._id}}">
                    <p style="font-size: 1rem; color: black;"><span class="fas fa-asterisk"> </span> {{this.topic}}</p>
                </a>
                {{/each}}</div>
        </div>
    </div>

</section>