@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f2f2f2;
}
nav {
  background: linear-gradient(to right, rgb(94, 6, 145), rgb(54, 9, 126));
}
nav:after {
  content: "";
  clear: both;
  display: table;
}
nav .logo {
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
  font-family: "Poppins", sans-serif;
}
nav ul li {
  float: left;
  display: inline-block;
  background: #37004da8,#c19cfc;
  margin: 0 5px;
}
nav ul li a {
  color: rgb(253, 253, 253);
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover {
  color: rgb(177, 230, 243);
  border-radius: 5px;
  box-shadow: 0 0 5px #32037e5e, 0 0 10px #7666ff52;
}
nav ul ul li a:hover {
  box-shadow: none;
}
nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
  
}
nav ul ul ul {
  border-top: none;

  
}
nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li {
  position: relative;
  margin: 0px;
  width: 165px;
  float: none;
  display: list-item;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.3); */
  background-color: rgba(3, 3, 124, 0.856);
}
nav ul ul li a {
  line-height: 44px;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}
.show,
.icon,
input {
  display: none;
}
.fa-plus {
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo {
    padding-left: 30px;
    width: 100%;
  }
  .show + a,
  ul {
    display: none;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
    background-color: rgba(3, 3, 124, 0.103);
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: rgb(250, 255, 255);
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: "\f00d";
  }
}
.content {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


p {
  font-size: 30px;
  font-weight: 500;
}
