<section>
    <div class="container" >
        <embed src="/doc/assignments/{{Id}}.pdf" type="application/pdf" width="100%" height="900px" />
        {{!-- <embed src="5fd3b51b8b2b0e5f963c218a.pdf" type="application/pdf" width="100%" height="600px" /> --}}
    </div>
</section>
